language: rust
node_js:
  - "10"

cache:
  - cargo
  directories:
    - "www/node_modules"

branches:
  only:
    - master

install:
  - cargo install wasm-pack
  - (cd www && npm install)

script:
  - wasm-pack build
  - (cd pkg && npm link)
  - (cd www && npm link life-wasm)
  - (cd www && npm run build)
  - cargo test
  - wasm-pack test

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_ACCESS_TOKEN
  target-branch: gh-pages
  local-dir: www/dist
  on:
    branch: master
